.hh-header {
    position: relative;
    height: 170px;
}

.hh-logo {
    position: absolute;
    right: 0px;
    width: 300px;
}

.hh-company {
    font-family: Impact;
    font-size: 35px;
    text-shadow: 0 0 3px rgb(20, 15, 12);
    position: absolute;
    top: 45px;
    padding-bottom: 2px;
    border-bottom: 1px dotted rgb(23, 80, 71);
}

.hh-slogan {
    position: absolute;
    top: 90px;
    color:green;
}

.hh-sheet  {
    box-shadow: 0 0 5px rgb(155, 153, 153);
    border-radius: 10px;
    padding: 5px;
    position: relative;
    top: -10px;
    margin-top: 20px;
}


.hh-body {
    padding: 5px;
}

.hh-cart ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
    font-size: smaller;

}

.hh-cart img {
    height: 30%;
    width: 30%;
    object-fit: contain;
}

.hh-card {
    margin: 7px 0;

}

.hh-product {
    text-align: center;
    padding: 5px 2px;
    display: inline-block;
}

.hh-product .card-body img {
    height: 150px;
    max-width: 95%;
}

.active {
    font-weight: 700;
}

.card-title{
    color:rgb(17, 113, 43);
}

.card-header{
    color:rgb(15, 88, 67)
}
